.filter-container{
    display: grid;
    grid-template-columns: repeat(3,1fr );
    gap: 25px;
}
mat-expansion-panel{
    margin: 10px 10px;
}
.input_split {
    display: grid;
    grid-template-columns: 1fr 1fr;
}